{
  "presets": ["next/babel"],
  "plugins": [
    "inline-react-svg",
    "inline-dotenv",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@": "./src",
          "&": "./server"
        }
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "modules": false,
            "useBuiltIns": "usage",
            "corejs": 3
          }
        ]
      ]
    }
  }
}
